body{
    background: url(./KidneyHealth.jpg);
}
.full-page
{
    height: 100%;
    width: 100%;
    position: absolute ;
    background: url(KidneyHealth.jpg);
    background-size:auto;
    background-position: center;
}
